body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* input[type="radio"],
input[type="checkbox"] {
  display: none;
} */

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  font-family: 'Manrope', arial, sans-serif;
}

.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  /* padding: 0 15px; */
}

.dn {
  display: none;
}

section {
  padding: 0 0 100px 0;
}



.color {
  color: #BE963F;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* .btn{
	background: linear-gradient(93.7deg, #F3C87A -1.69%, #F3EECA 37.58%, #B39556 77.08%, #EED489 109.84%);
	box-shadow: 0px 4px 0px #836A36;
	border-radius: 10px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #34280E;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
} */
.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836A36;
}


.btn {
  background: #00B871;
  border: none;
  padding: 15px 35px;
  border-radius: 10px;
  color: #FFF;
  transition: 0.5s;
}



.btns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 400px;
}

button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 5px 18px;
  transition: 0.3s;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 600;
  /* margin-top: 25px; */

}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.btn:hover,
button.active {
  background: #2fc58b;
  color: #fff;
}


/* * {
  outline: none;
  box-sizing: border-box;
} */

:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "Poppins", sans-serif;
  --body-color: #2f2f33;
  --active-color: rgb(162, 182, 161);
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: rgb(162, 182, 161);
  --button-color: #fff;
}

.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --alert-bg-color: #292932;
  --body-color: #fff;
  --inactive-color: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #263d63;
  --border-color: #26262f;
  --search-border-color: #26262f;
}

::-moz-placeholder {
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::placeholder {
  color: var(--placeholder-color);
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  font-size: 15px;
  color: var(--body-color);
}

.dark-light svg {
  margin-right: 8px;
  width: 22px;
  cursor: pointer;
  fill: transparent;
  transition: 0.5s;
}

.dark-mode .dark-light svg {
  fill: #ffce45;
  stroke: #ffce45;
}

.dark-mode .job-card svg {
  box-shadow: none;
}

.dark-mode .search.item {
  color: var(--body-color);
  border-color: var(--body-color);
}

.dark-mode .search-location svg,
.dark-mode .search-job svg,
.dark-mode .search-salary svg {
  color: var(--body-color);
}

.dark-mode .detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

header {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--theme-bg-color);
}

.header_auto {
  height: 80px;
}

.header_logo {
  width: 80px;
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn_header {
  z-index: 20;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
}

.header_body {
  /* position: relative; */
  height: 80px;
  align-items: center;
}

.header_logo {
  z-index: 20;
}

.header_list {
  gap: 30px;
}

nav ul li ul {
  position: absolute;
  margin-top: 50px;
  display: none;
}

nav ul li:hover>ul {
  display: initial;
}

.header_link {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #183119;
  transition: 1s;
}

.header_link:hover {
  color: #7cd341;
  border-bottom: 1px solid #7cd341;
  transition: 1s;
}

.header_menu {
  /* margin-left: -250px; */
  z-index: 20;
}

.header_burger {
  display: none;
}

.header_login-btns {
  gap: 20px;
}

.sign_in-btn {
  background: rgba(64, 87, 109, .07);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.logo svg {
  width: 24px;
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 0 40px;
  white-space: nowrap;
  background-color: var(--header-bg-color);
  height: 80px;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
}

.header-menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
}

.header-menu a:hover {
  color: var(--active-color);
}

.header-menu a:not(:first-child) {
  margin-left: 30px;
}

.header-menu a.active {
  color: var(--active-color);
}

.user-settings {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user-settings svg {
  width: 20px;
  color: #94949f;
}

.user-menu {
  position: relative;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 2px solid #d6d6db;
}

.user-menu:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--header-bg-color);
  right: 6px;
  top: -1px;
  background-color: var(--active-color);
}

.user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 30px 40px;
  overflow: auto;
}


@media screen and (max-width: 760px) {

  .user-name {
    display: none;
  }

  .user-profile {
    margin-right: 0;
  }

}

@media screen and (max-width: 620px) {

  .header-menu a:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 590px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 380px) {

  .wrapper {
    padding: 20px;
  }

  .header {
    padding: 0 20px;
  }
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

/* go-back */

.back-to-top {
  background-image: url(../img/icons/up.svg);
  background-position: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 15%;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: 1s;
  display: block;
}

.back-to-top:hover {
  transform: scale(1.1);
}







/* accordeon */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


.faq_all {
  text-align: center;

}

.accordion {
  max-width: 100%;
  text-align: center;
  line-height: 22px;
  transition: transform .59s;
}

article {
  padding: 1em;
  margin: 1em auto;
  border-radius: 20px;
  background: #2a432f;
  color: #ffffff;
  transition: transform .5s;
}

input[type="radio"] {
  appearance: none;
  position: fixed;
  top: -100vh;
  left: -100vh;

  &~div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  &:checked~div {
    max-height: 200px;
  }
}

.ques {
  margin-bottom: 10px;
  margin-top: 10px;
}

.ques_txt {
  font-size: 15px;
}

body {
  margin: 0;
}

canvas {
  display: block;
}

/* autorization */
.auto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.input {
  padding: 5px 12px;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 5px;
  width: 400px;
  color: #bcbdbf;
}

.form {
  margin: 0 auto;
  max-width: 1100px;
  background: rgba(38, 39, 41, 1.00);
  /* display: flex;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column;
  margin: 0 auto; */
  /* width: 500px; */
}

.auto_tit {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.link_sign_up {
  text-align: end;
  padding-bottom: 20px;
}

.input_txt {
  width: 100%;
  color: red;
  display: none;
  margin-bottom: 5px;
}

.input_wrap_psw {
  margin-top: 25px;
}

.form_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.success {
  display: none;
  text-align: center;
  font-style: 50px;
}

.login__username {
  background: #000;
  padding: 14px;
}

.input_wrap__login,
.input_wrap__email {
  position: relative;
}

.fa-solid {
  position: absolute;
  top: 0;
  left: 20px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #000;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  font-style: normal;

}

.fa-user::before {
  font-family: FontAwesome;
  content: "\f007";
  top: 11px;
  left: -70px;
}

.input {
  padding: 13px 20px;
  padding-left: 50px;
}

.input_wrap {
  background: #36373b;
  margin-bottom: 10px;
  border-radius: 5px;
}

.input_wrap__psw {
  position: relative;
}

.fa-lock::before {
  font-family: FontAwesome;
  content: "\f023";
  top: 11px;
  left: -70px;
}

.fa-at::before {
  font-family: FontAwesome;
  content: "\40";
  top: 11px;
  left: -70px;
}

.form_btn {
  background: #00B871;
  padding: 15px 55px;
  border-radius: 10px;
  color: #FFF;
  border: none;
  margin-top: 25px;
}

.form_terms {
  gap: 15px;
}

.conditions_link {
  color: #00B871;
}

.form_left {
  background: url(/img/icons/form_left_3.jpg);
  width: 560px;
  height: 600px;
}

.form_tit {
  text-align: center;
  padding-top: 180px;
  font-size: 40px;
  line-height: 40px;
  color: #000;
}

.form_right {
  padding: 10px 70px 20px 70px;
}

.sign_up-form {
  display: none;
}
.input__psw_sign_up{
  width: 360px;
}
/* .generator_ps{
  position: relative;
} */
.fa-key::before {
  font-family: FontAwesome;
  content: "\f084";
  top: 41px;
  left: 350px;
}
.fa-key{
  left: 365px;
}



header {
  /* width: 350px; */
  border-bottom-left-radius: 3px;
  background: inherit;
  /* box-shadow: 0 0 5px black; */
  background-color: rgba(225, 221, 222, .8);
  backdrop-filter: blur(2px);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
}

/* about */
.about_txt {
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  color: #133218;
  text-align: center;
  margin-bottom: 30px;
}

.purpose_tit {
  font-size: 32px;
  font-weight: 800;
  line-height: 57px;
  color: #03350b;
}

.purpose_txt li {
  list-style: disc;
}

.purpose_txt {
  color: #050606;
  font-size: 16px;
  line-height: 37px;
  margin-bottom: 20px;
}

.header_menu {
  display: block;
}

.open {
  display: block;
}

model-viewer {
  width: 30%;
  height: 50vh;
}

@media (max-width: 1024px) {
  model-viewer {
    height: 550px;
  }
}

@media (max-width: 767px) {
  model-viewer {
    height: 350px;
  }
}

.text {
  width: 50%;
}

.main_txt {
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  font-size: 40px;
  color: #106b41;
  margin: 0 auto;
}

.wrapper {
  display: none;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto; 
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
.dropdown button{
  border: none;
  padding: 0 0 0 10px;
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--header-bg-color);
  color: var(--body-color);
}

.login .header{
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s;
    flex-shrink: 0;
    padding: 0 40px;
    white-space: nowrap;
    background-color: transparent;
    height: 40px;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;

}

@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

#container {
	margin: auto;
	top: 0;
	bottom: 0;
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;
	user-select: none;
}