body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* input[type="radio"],
input[type="checkbox"] {
  display: none;
} */

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  font-family: 'Manrope', arial, sans-serif;
}

.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  /* padding: 0 15px; */
}

.dn {
  display: none;
}

section {
  padding: 0 0 100px 0;
}



.color {
  color: #BE963F;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* .btn{
	background: linear-gradient(93.7deg, #F3C87A -1.69%, #F3EECA 37.58%, #B39556 77.08%, #EED489 109.84%);
	box-shadow: 0px 4px 0px #836A36;
	border-radius: 10px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #34280E;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
} */
.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836A36;
}


.btn {
  background: #00B871;
  border: none;
  padding: 15px 35px;
  border-radius: 10px;
  color: #FFF;
  transition: 0.5s;
}



.btns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 400px;
}

button {
  cursor: pointer;
  border: 1px solid #000;
  padding: 5px 18px;
  transition: 0.3s;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 600;
  /* margin-top: 25px; */

}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.btn:hover,
button.active {
  background: #2fc58b;
  color: #fff;
}


/* * {
  outline: none;
  box-sizing: border-box;
} */

:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "Poppins", sans-serif;
  --body-color: #2f2f33;
  --active-color: rgb(162, 182, 161);
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: rgb(162, 182, 161);
  --button-color: #fff;
}

.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --alert-bg-color: #292932;
  --body-color: #fff;
  --inactive-color: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #263d63;
  --border-color: #26262f;
  --search-border-color: #26262f;
}

::-moz-placeholder {
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::placeholder {
  color: var(--placeholder-color);
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  font-size: 15px;
  color: var(--body-color);
}

.dark-light svg {
  margin-right: 8px;
  width: 22px;
  cursor: pointer;
  fill: transparent;
  transition: 0.5s;
}

.dark-mode .dark-light svg {
  fill: #ffce45;
  stroke: #ffce45;
}

.dark-mode .job-card svg {
  box-shadow: none;
}

.dark-mode .search.item {
  color: var(--body-color);
  border-color: var(--body-color);
}

.dark-mode .search-location svg,
.dark-mode .search-job svg,
.dark-mode .search-salary svg {
  color: var(--body-color);
}

.dark-mode .detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

header {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--theme-bg-color);
}

.header_auto {
  height: 80px;
}

.header_logo {
  width: 80px;
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn_header {
  z-index: 20;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
}

.header_body {
  /* position: relative; */
  height: 80px;
  align-items: center;
}

.header_logo {
  z-index: 20;
}

.header_list {
  gap: 30px;
}

nav ul li ul {
  position: absolute;
  margin-top: 50px;
  display: none;
}

nav ul li:hover>ul {
  display: initial;
}

.header_link {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #183119;
  transition: 1s;
}

.header_link:hover {
  color: #7cd341;
  border-bottom: 1px solid #7cd341;
  transition: 1s;
}

.header_menu {
  /* margin-left: -250px; */
  z-index: 20;
}

.header_burger {
  display: none;
}

.header_login-btns {
  gap: 20px;
}

.sign_in-btn {
  background: rgba(64, 87, 109, .07);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.logo svg {
  width: 24px;
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 0 40px;
  white-space: nowrap;
  background-color: var(--header-bg-color);
  height: 80px;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
}

.header-menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
}

.header-menu a:hover {
  color: var(--active-color);
}

.header-menu a:not(:first-child) {
  margin-left: 30px;
}

.header-menu a.active {
  color: var(--active-color);
}

.user-settings {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user-settings svg {
  width: 20px;
  color: #94949f;
}

.user-menu {
  position: relative;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 2px solid #d6d6db;
}

.user-menu:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--header-bg-color);
  right: 6px;
  top: -1px;
  background-color: var(--active-color);
}

.user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 30px 40px;
  overflow: auto;
}


@media screen and (max-width: 760px) {

  .user-name {
    display: none;
  }

  .user-profile {
    margin-right: 0;
  }

}

@media screen and (max-width: 620px) {

  .header-menu a:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 590px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 380px) {

  .wrapper {
    padding: 20px;
  }

  .header {
    padding: 0 20px;
  }
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

/* go-back */

.back-to-top {
  background-image: url(../img/icons/up.svg);
  background-position: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 15%;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: 1s;
  display: block;
}

.back-to-top:hover {
  transform: scale(1.1);
}







/* accordeon */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


.faq_all {
  text-align: center;

}

.accordion {
  max-width: 100%;
  text-align: center;
  line-height: 22px;
  transition: transform .59s;
}

article {
  padding: 1em;
  margin: 1em auto;
  border-radius: 20px;
  background: #2a432f;
  color: #ffffff;
  transition: transform .5s;
}

input[type="radio"] {
  appearance: none;
  position: fixed;
  top: -100vh;
  left: -100vh;

  &~div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  &:checked~div {
    max-height: 200px;
  }
}

.ques {
  margin-bottom: 10px;
  margin-top: 10px;
}

.ques_txt {
  font-size: 15px;
}

body {
  margin: 0;
}

canvas {
  display: block;
}

/* autorization */
.auto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.input {
  padding: 5px 12px;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 5px;
  width: 400px;
  color: #bcbdbf;
}

.form {
  margin: 0 auto;
  max-width: 1100px;
  background: rgba(38, 39, 41, 1.00);
  /* display: flex;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column;
  margin: 0 auto; */
  /* width: 500px; */
}

.auto_tit {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.link_sign_up {
  text-align: end;
  padding-bottom: 20px;
}

.input_txt {
  width: 100%;
  color: red;
  display: none;
  margin-bottom: 5px;
}

.input_wrap_psw {
  margin-top: 25px;
}

.form_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.success {
  display: none;
  text-align: center;
  font-style: 50px;
}

.login__username {
  background: #000;
  padding: 14px;
}

.input_wrap__login,
.input_wrap__email {
  position: relative;
}

.fa-solid {
  position: absolute;
  top: 0;
  left: 20px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #000;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  font-style: normal;

}

.fa-user::before {
  font-family: FontAwesome;
  content: "\f007";
  top: 11px;
  left: -70px;
}

.input {
  padding: 13px 20px;
  padding-left: 50px;
}

.input_wrap {
  background: #36373b;
  margin-bottom: 10px;
  border-radius: 5px;
}

.input_wrap__psw {
  position: relative;
}

.fa-lock::before {
  font-family: FontAwesome;
  content: "\f023";
  top: 11px;
  left: -70px;
}

.fa-at::before {
  font-family: FontAwesome;
  content: "\40";
  top: 11px;
  left: -70px;
}

.form_btn {
  background: #00B871;
  padding: 15px 55px;
  border-radius: 10px;
  color: #FFF;
  border: none;
  margin-top: 25px;
}

.form_terms {
  gap: 15px;
}

.conditions_link {
  color: #00B871;
}

.form_left {
  background: url(/img/icons/form_left_3.jpg);
  width: 560px;
  height: 600px;
}

.form_tit {
  text-align: center;
  padding-top: 180px;
  font-size: 40px;
  line-height: 40px;
  color: #000;
}

.form_right {
  padding: 10px 70px 20px 70px;
}

.sign_up-form {
  display: none;
}
.input__psw_sign_up{
  width: 360px;
}
/* .generator_ps{
  position: relative;
} */
.fa-key::before {
  font-family: FontAwesome;
  content: "\f084";
  top: 41px;
  left: 350px;
}
.fa-key{
  left: 365px;
}



header {
  /* width: 350px; */
  border-bottom-left-radius: 3px;
  background: inherit;
  /* box-shadow: 0 0 5px black; */
  background-color: rgba(225, 221, 222, .8);
  backdrop-filter: blur(2px);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
}

/* about */
.about_txt {
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  color: #133218;
  text-align: center;
  margin-bottom: 30px;
}

.purpose_tit {
  font-size: 32px;
  font-weight: 800;
  line-height: 57px;
  color: #03350b;
}

.purpose_txt li {
  list-style: disc;
}

.purpose_txt {
  color: #050606;
  font-size: 16px;
  line-height: 37px;
  margin-bottom: 20px;
}

.header_menu {
  display: block;
}

.open {
  display: block;
}

model-viewer {
  width: 30%;
  height: 50vh;
}

@media (max-width: 1024px) {
  model-viewer {
    height: 550px;
  }
}

@media (max-width: 767px) {
  model-viewer {
    height: 350px;
  }
}

.text {
  width: 50%;
}

.main_txt {
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  font-size: 40px;
  color: #106b41;
  margin: 0 auto;
}

.wrapper {
  display: none;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto; 
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
.dropdown button{
  border: none;
  padding: 0 0 0 10px;
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--header-bg-color);
  color: var(--body-color);
}

.login .header{
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s;
    flex-shrink: 0;
    padding: 0 40px;
    white-space: nowrap;
    background-color: transparent;
    height: 40px;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;

}
<<<<<<< HEAD
/* footer */

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


/* body {
  background-color: #000;
} */

a{
  text-decoration: none;
}

.ag-create_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 50px 0;
}
.ag-create_item {
  display: block;
  width: 30%;
  background-color: #000;

  overflow: hidden;

  position: relative;
}
.ag-create_item video {
  display: block;
  max-width: 100%;
  margin: -8% auto 0;

  position: relative;
}
.ag-create_item svg {
  height: 99%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.ag-create_item svg .cls-1 {
  fill: transparent;
  stroke: #5f5f5f;
  stroke-miterlimit: 10;

  -webkit-transition: stroke .4s linear;
  -moz-transition: stroke .4s linear;
  -o-transition: stroke .4s linear;
  transition: stroke .4s linear;
}
.ag-create_item svg .cls-2 {
  fill: #ff1923;

  opacity: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.ag-create_item svg .cls-3 {
  fill: transparent;

  stroke: #ff1923;
  stroke-miterlimit: 10;

  -webkit-transition: fill .4s linear;
  -moz-transition: fill .4s linear;
  -o-transition: fill .4s linear;
  transition: fill .4s linear;
}
.ag-create_item svg .cls-4 {
  fill: none;

  stroke-miterlimit: 10;
  stroke: #FFF;
}
.ag-create_title-item {
  width: 100%;
  margin-top: -8%;
  padding: 0 30px 25px;

  -webkit-text-stroke: 1px #FFF;
  stroke: 1px #FFF;

  text-align: left;
  font-size: 38px;
  color: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  position: relative;
}
.ag-create_item:hover .ag-create_title-item {
  -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0);
  stroke: 1px hsla(0, 0%, 100%, 0);

  color: #FFF;
}
.ag-create_item:hover svg .cls-1 {
  stroke: #FFF;
}
.ag-create_item:hover svg .cls-2 {
  opacity: 1;
}


@media only screen and (max-width: 1161px) {
  .ag-create_item {
    width: 31%;
  }
  .ag-create_title-item {
    font-size: 19px;
  }
}

@media only screen and (max-width: 979px) {
  .ag-create_box {
    display: block;
  }
  .ag-create_item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 40px;
  }
  .ag-create_item:last-child {
    margin-bottom: 0;
  }
  .ag-create_title-item {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}

/* bonus */
.bonus_txt{
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 60px;
}
.biocoin_tit{
	margin-bottom: 15px;
}
.biocoin_info{
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 50px;
}
.bonus_biocoin{
	color: #2d8b3d;
}
.bonus_ic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	background: #f3f3f0;
	margin: 0 auto 15px;
}
.bonus_cards{
	margin-bottom: 50px;
}
.bonus_card {
	background: #fff;
	max-width: 300px;
	padding: 40px 34px 32px;
	border: 0px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 25px;
	transition: 0.5s;
	text-align: center;
} 
.bonus_card:hover{
	transform: scale(1.2);
}

.bonus_card__1 .bonus_ic {
	background: url(../img/icons/paper.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.bonus_card__2 .bonus_ic {
	background: url(../img/icons/plastic.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.bonus_card__3 .bonus_ic {
	background: url(../img/icons/glass.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.bonus_card__4 .bonus_ic {
	background: url(../img/icons/metal.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

marquee{
	color: #ffffff;
	font-size: 20px;
	background: #6e8e5f;
	padding: 15px;
}
b{
	color: #2d8a3b;
}

/* cards */
:root {
	--card-height: 300px;
	--card-width: calc(var(--card-height) / 1.5);
  }
  * {
	box-sizing: border-box;
  }

  .card {
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0 36px;
	perspective: 2500px;
	margin: 0 50px;
  }
  
  .cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .wrapper {
	transition: all 0.5s;
	position: absolute;
	width: 100%;
	z-index: -1;
  }
  
  .card:hover .wrapper {
	transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
	/* box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
  }
  
  .wrapper::before,
  .wrapper::after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 80px;
	transition: all 0.5s;
	position: absolute;
	left: 0;
  }
  .wrapper::before {
	top: 0;
	height: 100%;
	/* background-image: linear-gradient(
	  to top,
	  transparent 46%,
	  rgba(12, 13, 19, 0.5) 68%,
	  rgba(12, 13, 19) 97%
	); */
  }
  .wrapper::after {
	bottom: 0;
	opacity: 1;
	/* background-image: linear-gradient(
	  to bottom,
	  transparent 46%,
	  rgba(12, 13, 19, 0.5) 68%,
	  rgba(12, 13, 19) 97%
	); */
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
	opacity: 1;
  }
  
  .card:hover .wrapper::after {
	height: 120px;
  }
  .title {
	width: 100%;
	transition: transform 0.5s;
  }
  .card:hover .title {
	transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
	z-index: -1;
  }
  
  .card:hover .character {
	opacity: 1;
	transform: translate3d(0%, -30%, 100px);
=======

@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

#container {
	margin: auto;
	top: 0;
	bottom: 0;
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;
	user-select: none;
}


.btn {
	background: linear-gradient(93.7deg, #592ee6 -1.69%, #7772F1 67.58%);
	border-radius: 4px;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 170px;
	padding: 12px;
	transition: 1s;
}

.btn:hover,
.play-button:hover {
	transform: scale(0.9);
	box-shadow: 0px 3px 34px -14px rgba(92, 78, 108, 1);
}

.link {
	transition: 0.3s;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.statistics {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

/* main block */
.main {
	background: url(../img/main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	width: 100%;
}

.main{
	background: #1c371c;
}

.main_left {
	width: 65%;
}

.main_right {
	width: 35%;
}

.main_texts {
	margin-left: 155px;
	margin-top: -106px;
}

.main_tit {
	max-width: 810px;
	font-size: 55px;
	font-weight: 900;
	line-height: 74px;
	letter-spacing: 1px;
	text-align: left;
	color: #FFF;
}



.buttons {
	margin-top: 50px;
	display: inline-flex;
	gap: 30px;
	align-items: center;
}

.play_video {
	display: inline-flex;
	gap: 15px;
	align-items: center;
}

.play_txt {
	color: #FFF;
}

.play-button {
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 100%;
	background-color: rgba(213, 249, 211, 0.7);
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	transition: 1s;
	animation: shadow 1s infinite linear;


}

.play-button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-left: 11px solid white;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	z-index: 2;
}


@keyframes shadow {
	0% {
		box-shadow: 0 0 5px 0px rgb(98, 119, 129), 0 0 5px 0px rgb(40, 75, 192);
	}

	100% {
		box-shadow: 0 0 18px 6px rgba(25, 48, 26, 0), 0 0 4px 15px rgba(255, 48, 26, 0);
	}
}

.btn_white {
	background: none;
	border: #FFF 1px solid;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 20px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 38px;
	font-weight: bold;
	transition: 0.5s;
}

.close:hover,
.close:focus {
	color: #7772F1;
	text-decoration: none;
	cursor: pointer;
}

.main_img img {
	width: 470px;
	height: 390px;
	margin-top: 70px;
	margin-left: -40px;

}

.market {
	width: 75%;
	margin: 0 auto;
}

.icon_violet {
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center;
}


.market_in {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	transition: 1s;
	margin-top: 70px;

}

.market_in:hover {
	transform: scale(1.2);
}

.market_txt {
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;

}

.after {
	border-left: 0.1px solid #FFFFFF;
	filter: blur(0.7px);
	height: 40px;
	border-radius: 30px;
	margin-top: 70px;

}





.card_in{
background: rgb(184, 186, 187);
border-radius: 12px;
border: 5px solid #170606;
height: 350px;


}
.img_card{
	max-width: 150px;
	max-height: 150px;
}
.sec_in{
	font-size: 58px;
	text-align: center;
	padding-top: 30px;   
}
.p_in{
	font-size: 18px;
	text-align: center;
	padding: 30px 20px;
	max-width: 270px;
}
.in{
	background: #1c371c;
}


.text-center {
	text-align: center;
  }
  .color-white {
	color: #fff;
  }
  .box-container {
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding: 35px 15px;
	width: 100%;
  }
  .box-item {
	position: relative;
	-webkit-backface-visibility: hidden;
	width: 350px;
	margin-bottom: 35px;
	max-width: 100%;
  }
  .flip-box {
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	perspective: 1000px;
	-webkit-perspective: 1000px;
  }
  .flip-box-front,
  .flip-box-back {
	background-size: cover;
	background-position: center;
	border-radius: 8px;
	min-height: 475px;
	-ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
	transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
	-webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  .flip-box-front {
	-ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  .flip-box:hover .flip-box-front {
	-ms-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  .flip-box-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  .flip-box:hover .flip-box-back {
	-ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  .flip-box .inner {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 60px;
	outline: 1px solid transparent;
	-webkit-perspective: inherit;
	perspective: inherit;
	z-index: 2;
	transform: translateY(-50%) translateZ(60px) scale(.94);
	-webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
	-ms-transform: translateY(-50%) translateZ(60px) scale(.94);
	top: 50%;
  }
  .flip-box-header {
	font-size: 34px;
	line-height: 40px;
	padding-bottom: 30px;
	color: rgb(142, 142, 145);
  }
  .flip-box p {
	font-size: 20px;
	line-height: 1.5em;
  }
  .flip-box-img {
	margin-top: 25px;
	width: 60px;
	height: 60px;	
  }
  .flip-box-button {
	background-color: transparent;
	border: 2px solid #2b6443;
	border-radius: 2px;
	color: #1d1818;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
	padding: 8px 20px;
	text-transform: uppercase;
  }
  


  .econom{
	background: #1c371c;
  }
  .tit_eco .main_tit{
	text-align: center;
	font-size: 50px;
	max-width: 1100px;
  }
  .p{
	color: #FFFFFF;
	text-align: center;
	max-width: 560px;
    font-size: 24px;
    line-height: 1.5;
  }


  

/* browse */
.browse_card {
	border-radius: 12px;
	border: 2px solid #dbdfd0;
	background: #fff;
	width: calc((100% - 72px) / 4);
	padding: 40px 34px 32px;
	height: 400px;
  }
  
  .browse_ic {
	
    width: 100px;
    height: auto;
    max-width: 100%;
  }
  
  
  .browse_tit {
	color: #2c2f24;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
	margin-bottom: 25px;
	padding-top: 20px;
  }
  
  .browse_txt {
	color: var(--neutral-06, #414536);
	text-align: center;
  
	/* Body/16px/Regular */
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 238px;
	/* 150% */
  }
  
  .browse_ic img{
	width: 150px;
  }
  .p{
	padding-bottom: 20px;
>>>>>>> 9633923d75e421a561baa878b570aea66851c37b
  }


  .sec_p{
    font-size: 32px;
    line-height: 36px;
    color: #094112;
    text-align: center;
    width: 40%;
    max-width: 50%;
  }